body {
    background-image: linear-gradient(80deg, rgb(0, 158, 0), rgb(48, 245, 48));
}

.titulo {
    margin-top:160px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article {
    margin:auto;
    background-color: white;
    border-radius: 40px;
    width: 500px;
    height: 300px;
}

#logo img {
    width: 100px;
    margin-bottom: 20px;
}

asside {
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-input {
    margin-bottom: 20px;
    margin-left: 30px;
}

input {
    float: inline-end;
    border-radius: 10px;
    border-color: orange;
}

.botao-envio input {
    text-align: center;
    background: rgb(13, 175, 13);
    border-radius: 100x;
    border-color: black;
    width: 250px;
    margin-left: 40px;
    color: white
}


.botao-envio:hover input {
    font-weight: bold;
}