* {
    margin: 0px auto;
    overflow: hidden;
}

body {
    background-color: whitesmoke;
}

header {
    text-align: center;
    padding: 20px;
}

.imagens {
    text-align: center; /*elemento filho de main display: inline-block*/
}

.imagens img {
    display: inline-block;
    padding: 0.2%;
    height: 200px;
    width: 200px;
}

.imagens .card {
    display: inline-block;
    padding: 0.2%;
    height: 200px;
    width: 200px;
    background-color: orange;
    opacity: 80%;
}

p {
    display: block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    background-color: black;
    height: 100px;
    color: white;
}