body {
    background-color: whitesmoke;
}

header {
    text-align: center;
}

main {

}

.imgs {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center;
    padding: 20px;
}

p {
    display: block;
    padding-left: 50px;
    padding-right: 50px;
}

footer {

    margin: 100px;
}